<header>

  {% comment %} ------ LOGO + NAMEPLATE ------ {% endcomment %}

  {% if page.generatedPage or page.url == "/documentation/" %}
    <div class="logo">
      <a href="{{ site.baseurl }}/">⬤</a><a href="{{ site.baseurl }}/documentation/">Documentation</a>
    </div>
  {% else %}
    <div class="logo">
      {% unless page.collection %}
        <a href="{{ site.baseurl }}/">⬤RoboFont</a>
      {% endunless %}
      {% if page.collection %}
        <a href="{{ site.baseurlo }}/">⬤</a><a href="{{ site.baseurl }}/{{ page.collection }}">{{ page.collection | capitalize }}</a>
      {% endif %}
    </div>
  {% endif %}

  {% comment %} ------ ICONS MENU ------ {% endcomment %}

  <nav class="icons">

    <a class="documentation" href="{{ site.baseurl }}/documentation/topics">
      D<span class="header-tip">Topics</span>
    </a>
    <a class="building-tools" href="{{ site.baseurl }}/documentation/tutorials">
      W<span class="header-tip">Tutorials</span>
    </a>
    <a class="documentation" href="{{ site.baseurl }}/documentation/how-tos">
      T<span class="header-tip">How-Tos</span>
    </a>
    <a class="how-tos" href="{{ site.baseurl }}/documentation/reference">
      A<span class="header-tip">Reference</span>
    </a>

    <span class="header-divider"></span>

    <a class="extensions" href="{{ site.baseurl }}/documentation/topics/extensions/">
      P<span class="header-tip">Extensions</span>
    </a>
    <a class="extensions" href="http://robofontmechanic.com">
      M<span class="header-tip">Mechanic</span>
    </a>
    <a class="store" href="http://extensionstore.robofont.com">
      S<span class="header-tip">Extension Store</span>
    </a>

    <span class="header-divider"></span>

    <a class="education" href="http://education.robofont.com">
      E<span class="header-tip">Education</span>
    </a>

    <span class="header-divider"></span>

    <a class="forum" href="{{ site.discordLink }}">
      F<span class="header-tip">Discord</span>
    </a>
    <a class="news" href="{{ site.baseurl }}/announcements/">
      N<span class="header-tip">Announcements</span>
    </a>

    <span class="header-divider"></span>

    <form id="search" action="{{ site.baseurl }}/search/" method="get">
      <button type="submit" value="search">?</button>
      <input type="text" name="search" id="s" placeholder="Search" required="">
      <input type="hidden" name="check_keywords" value="yes">
      <input type="hidden" name="area" value="default">
    </form>

  </nav>

</header>
